<h1 md-dialog-title>
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> &nbsp;Atención
  <button type="button" class="close" data-dismiss="modal" md-button md-dialog-close="Cancelar">
    &times;</button>
</h1>
<hr>
<div md-dialog-content>¿Estás seguro que deseas eliminar el/los registro(s)?</div>
<hr>
<div style="text-align: right">
  <button class="btn btn-primary" md-button md-dialog-close="Aceptar">Aceptar</button>
  <button class="btn btn-default" md-button md-dialog-close="Cancelar">Cancelar</button>
</div>