<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" style="padding: 0; margin-top: 20px" (window:resize)="onResize($event)">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 0" [ngStyle]='{"text-align": textAlignTitle}'>
        <h2>Reportes</h2>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <label>Tipo de Reporte</label>
    <select [(ngModel)]="selecTipoReporte" (ngModelChange)="fillParameters($event)" id="tipoReport" class="form-control input-sm"
        style="z-index: 1;" tabindex="1">
        <option *ngFor="let c of tipo_reportes" [ngValue]="c">{{c.label}}</option>
    </select><br>
    <!--<button type="button" (click)="doDate()">viewDate</button>-->
</div>
<!-- Rango de Fechas-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngIf="flagRangoFechas">
    <label>Desde: </label><br>
    <p-calendar [(ngModel)]="fecha_desde" [locale]="es" dateFormat="mm/dd/yy" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
        yearRange="1950:2030" dataType="string" [readonlyInput]="true" [showTime]="true" [style]="{'width':'200px'}">
    </p-calendar>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngIf="flagRangoFechas">
    <label>Hasta: </label><br>
    <p-calendar [(ngModel)]="fecha_hasta" [locale]="es" dateFormat="mm/dd/yy" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
        yearRange="1950:2030" dataType="string" [readonlyInput]="true" [showTime]="true">
    </p-calendar>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="padding-top: 4px">
    <br>
    <a class="btn btn-primary btn-sm" (click)="generateNew()" style="width:100%;">Generar</a><br>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label>Parámetros</label>
    <div class="panel panel-default" id="pnlParameters">
        <div class="panel-body">
            <div *ngFor="let c of lstLabels">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <p-checkbox [(ngModel)]="c.active" name="group1" binary="true" label={{c.name}} inputId="ny" [style]="{'margin-bottom':'5px'}"></p-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="data" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
    <a (click)="downloadAsPDF()" style="margin-top: 5px" class="pointerPDF" tooltip="Descargar como .pdf" tooltipPlacement="bottom">
        <i class="fa fa-file-pdf-o fa-2x" style="color: #D81F01" aria-hidden="true"></i>
    </a>
    <a (click)="downloadAsExcel()" style="margin-top: 5px; color: #207347" class="pointerPDF" tooltip="Descargar como .xls" tooltipPlacement="bottom">
        <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>
    </a>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [hidden]="false"><br>
    <iframe id="iFramePDF" type="application/pdf" width="100%" height="650" style="position:relative;z-index:1; border: solid 2px; border-color: #CDC8CE">
        Your Browser doesn´t support iframes
    </iframe>
    <hr>
</div>