/*.modal-backdrop {
    z-index: 1;
}*/
.navbar{
    z-index: 2;
}

#userIcon {
    color : white;
}

#caretIcon {
    color : white;
}

.dropdown{
    cursor: pointer;
}

#confIcon{
    color : white;
}