<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" style="padding: 0; margin-top: 20px" (window:resize)="onResize($event)">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 0" [ngStyle]='{"text-align": textAlignTitle}'>
        <h2>Gestión de Clientes</h2>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
    <div (click)="$event.preventDefault()">
        <tabset [justified]="true">
            <tab heading="Tipo Clientes">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <h3 style="text-align:center">Tipo de Clientes</h3>
                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <ng2-smart-table id="dtTipoClientes" [settings]="settingsTC" [source]="sourceTC" (create)="showDialog2 = true; setCursorAddTC()"
                        (edit)="showDialog3 = true;onUpdateTC($event);" (delete)="onDeleteTC($event)">
                    </ng2-smart-table>
                    <hr>
                </div>
            </tab>
            <tab heading="Clientes" [active]="true">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <h3 style="text-align:center">Clientes</h3>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:auto;">
                    <ng2-smart-table id="dtClientes" [settings]="settingsC" [source]="sourceC" (create)="showDialog = true;onCreate($event);setCursorAdd()"
                        (edit)="showDialog1 = !showDialog1;onUpdate($event);setCursorUpdate()" (delete)="onDeleteC($event)">
                    </ng2-smart-table>
                    <hr>
                </div>
            </tab>
            <tab heading="Estado de Cuentas">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <h3 style="text-align:center">Estado de Cuentas</h3>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                </div>
            </tab>
        </tabset>
    </div>
</div>

<!-- Add Client -->
<p-dialog [(visible)]="showDialog" modal="modal" width="550" [responsive]="true">
    <p-header>
        Registrar Cliente
    </p-header>
    <br>
    <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <label for="ci">Cedula*:</label>
            <input type="text" [(ngModel)]="cedula" id="ci" name="ci" (ngModelChange)="onChange()" placeholder="Cedula del cliente" class="form-control input-sm"
                maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' tooltip="Solo se permiten NUMEROS."
                tooltipPlacement="bottom">
        </div>
        <div class="ui-g-6">
            <label>Telefono:</label>
            <input type="text" [(ngModel)]="telefono" id="telefono" name="telefono" placeholder="Telefono del cliente" class="form-control  input-sm"
                maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' tooltip="Solo se permiten NUMEROS."
                tooltipPlacement="bottom">
        </div>
        <div class="ui-g-6">
            <label>Nombre*:</label>
            <input type="text" [(ngModel)]="nombre" id="nombre" name="nombre" placeholder="Nombre del cliente" class="form-control  input-sm"
                onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
            event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
                tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom" (ngModelChange)="onChangeNombre($event)">
        </div>
        <div class="ui-g-6">
            <label>Apellido*:</label>
            <input type="text" [(ngModel)]="apellido" id="apellido" name="apellido" placeholder="Apellido del cliente" class="form-control  input-sm"
                onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
            event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
                tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom" (ngModelChange)="onChangeApellido($event)">
        </div>
        <div class="ui-g-6">
            <label>Tipo Cliente*:</label>
            <select [(ngModel)]="selected_tipo_cliente" class="form-control input-sm">
                <option *ngFor="let c of tipo_clientes" [ngValue]="c">{{c.nombre}}</option>
            </select>
        </div>
        <div class="ui-g-6">
            <label>E-mail:</label>
            <input type="text" [(ngModel)]="correo" (ngModelChange)="onChangeEmail($event)" id="correo" name="correo" placeholder="Correo del cliente"
                class="form-control  input-sm">
        </div>
        <div class="ui-g-6">
            <label>Fecha de nacimiento*:</label>
            <p-calendar [(ngModel)]="fecha_nacimiento" [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1950:2030" dataType="string" [readonlyInput]="true">
            </p-calendar>
        </div>
        <div class="ui-g-6">
            <label>Sexo*:</label><br>
            <md-radio-group [(ngModel)]="sexo">
                <md-radio-button class="example-radio-button" *ngFor="let sex of sexs" [value]="sex.pseudo" [color]="color">{{sex.name}}
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <hr>
    <div class="ui-g-12" style="text-align: center">
        <button type="button" style="font-size: 11px" (click)="saveClient()" class="btn btn-primary">Registrar</button>
        <button type="button" style="font-size: 11px" (click)="showDialog=false" class="btn btn-default">Cancelar</button>
    </div>
</p-dialog>

<!-- Update Client -->
<p-dialog [(visible)]="showDialog1" modal="modal" width="550" [responsive]="true">
    <p-header>
        Actualizar Cliente
    </p-header>
    <br>
    <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <label for="ciU">Cedula/RUC*:</label>
            <input type="text" [(ngModel)]="cedula" id="ciU" name="ciU" (ngModelChange)="onChangeU()" placeholder="Cedula del cliente"
                class="form-control input-sm" maxlength="13" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                tooltip="Solo se permiten NUMEROS." tooltipPlacement="bottom">
        </div>
        <div class="ui-g-6">
            <label>Telefono:</label>
            <input type="text" [(ngModel)]="telefono" id="telefono" name="telefono" placeholder="Telefono del cliente" class="form-control input-sm"
                maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' tooltip="Solo se permiten NUMEROS."
                tooltipPlacement="bottom">
        </div>
        <div class="ui-g-6">
            <label>Nombre*:</label>
            <input type="text" [(ngModel)]="nombre" id="nombre" name="nombre" placeholder="Nombre del cliente" class="form-control input-sm"
                onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
            event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
                tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom" (ngModelChange)="onChangeNombre($event)">
        </div>
        <div class="ui-g-6">
            <label>Apellido*:</label>
            <input type="text" [(ngModel)]="apellido" id="apellido" name="apellido" placeholder="Apellido del cliente" class="form-control input-sm"
                onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
            event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
                tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom" (ngModelChange)="onChangeApellido($event)">
        </div>
        <div class="ui-g-6">
            <label>E-mail:</label>
            <input type="text" [(ngModel)]="correo" (ngModelChange)="onChangeEmailU($event)" id="correoU" name="correoU" placeholder="Correo del cliente"
                class="form-control input-sm">
        </div>
        <div class="ui-g-6">
            <label>Sexo*:</label><br>
            <md-radio-group [(ngModel)]="sexo">
                <md-radio-button class="example-radio-button" *ngFor="let sex of sexs" [value]="sex.pseudo" [color]="color">{{sex.name}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <div class="ui-g-6">
            <label>Fecha de nacimiento*:</label>
            <p-calendar [(ngModel)]="fecha_nacimiento" [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1950:2030" dataType="string" [readonlyInput]="true">
            </p-calendar>
        </div>
        <div class="ui-g-6">
            <label>Tipo Cliente*:</label>
            <p-dropdown [options]="tipo_clientes" [(ngModel)]="selected_tipo_cliente" placeholder="Selecciona un Tipo" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>
    <hr>
    <div class="ui-g-12" style="text-align: center">
        <button class="btn btn-primary" style="font-size: 11px" (click)="updateClient()">Actualizar</button>
        <button class="btn btn-default" style="font-size: 11px" (click)="showDialog1 = false">Cancelar</button>
    </div>
</p-dialog>

<!-- Add Tipo Cliente -->
<p-dialog [(visible)]="showDialog2" modal="modal" width="650" [responsive]="true">
    <p-header>
        Registrar Tipo Cliente
    </p-header>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label>Nombre*:</label>
            <input type="text" [(ngModel)]="desc_tipo_cliente" (ngModelChange)="onChangeDescTC($event)" id="descTC" placeholder="Descripcion de tipo cliente"
                class="form-control input-sm" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
                event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
                tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" ">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <label>Tipo Descuento*:</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="color: white">
            <label>Guardar*:</label>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <div class="ui-g-5" style="text-align: right;">
                <p tooltip="Aplicar el descuento a TODO un tipo de producto." tooltipPlacement="bottom">
                    Grupal
                </p>
            </div>
            <div class="ui-g-2" style="text-align: center;">
                <md-slide-toggle [color]="color" [checked]="checked" [(ngModel)]="flagTipoDesc" style="padding-top: 2px" (ngModelChange)="changeFlag($event)">
                </md-slide-toggle>
            </div>
            <div class="ui-g-5" style="text-align: right;">
                <p tooltip="Aplicar el descuento a un SOLO producto." tooltipPlacement="bottom">Individual</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align: center;">
            <i id="addIcon" class="fa fa-pencil-square fa-2x" style="padding-top: 2px" (click)="addNewPrice()" aria-hidden="true" tooltip="Agregar nuevo precio producto."
                tooltipPlacement="bottom"></i>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="descTPC" style="text-align: left">Beneficios*:</label>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <p-listbox [options]="lstTipoProductos" [(ngModel)]="selected_tp" filter="filter" [listStyle]="{'max-height':'130px'}" [style]="{'width':'100%','border-color': bcLstProdM }"
                id="lbTP" name="lbTP" (onChange)="onChangelbTP($event)">
                <p-header>
                    Tipo Producto
                </p-header>
                <ng-template let-car pTemplate="item">
                    {{car.label}}
                </ng-template>
            </p-listbox>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <p-listbox [options]="lstProductosShow" [(ngModel)]="selected_producto" filter="filter" [listStyle]="{'max-height':'130px'}"
                [style]="{'width':'100%','border-color': bcLstProdM }" id="lbProd" name="lbProd" (onChange)="onChangelbProd($event)"
                [disabled]="!flagTipoDesc">
                <p-header>
                    Productos
                </p-header>
                <ng-template let-car pTemplate="item">
                    {{car.label}}
                    <span class="badge">$ {{ car.value.precio_venta | number : '1.2-2'}}</span>
                    <span class="badge">$ {{ car.value.precio_costo | number : '1.2-2'}}</span>
                </ng-template>
            </p-listbox>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="flagUpdatePrize">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <label style="text-align: left">Porcentaje*:</label>
            <input currencyMask type="text" [(ngModel)]="descPercent" id="descPercent" name="descPercent" placeholder="0.00" class="form-control input-sm"
                (ngModelChange)="valueChangeDescPercent($event)" (click)="$event.target.select()" [options]="{ suffix :' %',prefix: ''}">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" *ngIf="flagTipoDesc">
            <label style="text-align: left">Valor*:</label>
            <input currencyMask type="text" [(ngModel)]="descMoney" id="descMoney" name="descMoney" placeholder="0.00" class="form-control input-sm"
                (ngModelChange)="valueChangeDescMoney($event)" (click)="$event.target.select()">
        </div>
    </div>
    <hr>
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
        <button class="btn btn-primary" style="font-size: 11px; width: 25%" (click)="onAddTPSubmit()">Registrar</button>
        <button class="btn btn-default" style="font-size: 11px; width: 25%" (click)="showDialog2 = false">Cancelar</button>
    </div>
</p-dialog>

<!-- Update Tipo Cliente -->
<p-dialog [(visible)]="showDialog3" modal="modal" width="650" [responsive]="true">
    <p-header>
        Actualizar Tipo Cliente
    </p-header>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label>Nombre*:</label>
            <input type="text" [(ngModel)]="desc_tipo_cliente" (ngModelChange)="onChangeDescTC($event)" id="descTCU" placeholder="Descripcion de tipo cliente"
                class="form-control input-sm" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
                event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
                tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" ">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <label>Tipo Descuento*:</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="color: white">
            <label>Guardar*:</label>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <div class="ui-g-5" style="text-align: right;">
                <p tooltip="Aplicar el descuento a TODO un tipo de producto." tooltipPlacement="bottom">
                    Grupal
                </p>
            </div>
            <div class="ui-g-2" style="text-align: center;">
                <md-slide-toggle [color]="color" [checked]="checked" [(ngModel)]="flagTipoDesc" style="padding-top: 2px" (ngModelChange)="changeFlag($event)">
                </md-slide-toggle>
            </div>
            <div class="ui-g-5" style="text-align: right;">
                <p tooltip="Aplicar el descuento a un SOLO producto." tooltipPlacement="bottom">Individual</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align: center;">
            <i id="addIcon" class="fa fa-pencil-square fa-2x" style="padding-top: 2px" (click)="updatePrice()" aria-hidden="true" tooltip="Agregar nuevo precio producto."
                tooltipPlacement="bottom"></i>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="descTPC" style="text-align: left">Beneficios*:</label>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <p-listbox [options]="lstTipoProductos" [(ngModel)]="selected_tp" filter="filter" [listStyle]="{'max-height':'130px'}" [style]="{'width':'100%','border-color': bcLstProdM }"
                id="lbTP" name="lbTP" (onChange)="onChangelbTP($event)">
                <p-header>
                    Tipo Producto
                </p-header>
                <ng-template let-car pTemplate="item">
                    {{car.label}}
                </ng-template>
            </p-listbox>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <p-listbox [options]="lstProductosShow" [(ngModel)]="selected_producto" filter="filter" [listStyle]="{'max-height':'130px'}"
                [style]="{'width':'100%','border-color': bcLstProdM }" id="lbProd" name="lbProd" (onChange)="onChangelbProd($event)"
                [disabled]="!flagTipoDesc">
                <p-header>
                    Productos
                </p-header>
                <ng-template let-car pTemplate="item">
                    {{car.label}}
                    <span class="badge">$ {{ car.value.precio_venta | number : '1.2-2'}}</span>
                    <span class="badge">$ {{ car.value.precio_costo | number : '1.2-2'}}</span>
                </ng-template>
            </p-listbox>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="flagUpdatePrize">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <label style="text-align: left">Porcentaje*:</label>
            <input currencyMask type="text" [(ngModel)]="descPercent" id="descPercent" name="descPercent" placeholder="0.00" class="form-control input-sm"
                (ngModelChange)="valueChangeDescPercent($event)" (click)="$event.target.select()" [options]="{ suffix :' %',prefix: ''}">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" *ngIf="flagTipoDesc">
            <label style="text-align: left">Valor*:</label>
            <input currencyMask type="text" [(ngModel)]="descMoney" id="descMoney" name="descMoney" placeholder="0.00" class="form-control input-sm"
                (ngModelChange)="valueChangeDescMoney($event)" (click)="$event.target.select()">
        </div>
    </div>
    <hr>
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
        <button class="btn btn-primary" style="font-size: 11px; width: 25%" (click)="onUpdateTPSubmit()">Actualizar</button>
        <button class="btn btn-default" style="font-size: 11px; width: 25%" (click)="showDialog3 = false">Cancelar</button>
    </div>
</p-dialog>