<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" style="padding: 0; margin-top: 20px" (window:resize)="onResize($event)">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 0" [ngStyle]='{"text-align": textAlignTitle}'>
    <h2>Administración</h2>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
  <div (click)="$event.preventDefault()">
    <tabset [justified]="true">
      <tab heading="Cover">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <h3 style="text-align: center">Gestión de Covers</h3>
          <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ng2-smart-table id="dtTP" [settings]="settingsC" [source]="sourceC" (create)="showDialogCC = true;setCursorAddC()" (edit)="showDialogCU = true;onUpdateC($event);setCursorUpdateC()"
            (delete)="onDeleteC($event)">
          </ng2-smart-table>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>
      </tab>
      <tab heading="Promociones" [active]="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <h3 style="text-align: center">Control de Promociones</h3>
          <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p-dataTable [value]="lstPromos" [responsive]="true" [(selection)]="selectedPromos" [paginator]="true" [rows]="10" (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)">
            <p-column [style]="{'width':'30px'}" selectionMode="multiple">
            </p-column>
            <p-column field="nombre" header="Nombre Promoción" [sortable]="true" [filter]="true" [style]="{'width':'20%'}">
            </p-column>
            <p-column field="tipoPromo" header="Tipo Promoción" [sortable]="true" [filter]="true" [style]="{'width':'15%'}">
            </p-column>
            <p-column field="productosV" header="Productos" [style]="{'width':'65%'}">
            </p-column>
          </p-dataTable>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <br>
          <p-panel #pnlPromos header="Control de precios por producto" [style]="{'z-index':'1'}">
            <!-- Guardar Cambios Promo -->
            <div class="panel-body" style="padding-left: 0; padding-right: 0;">
              <div class="form-group" style="margin: 0px;">
                <div class="input-group col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-12">
                  <button class="ui-button-warning" pButton (click)="saveActivePrice()" label="Guardar Cambios" style="font-size: 14px; width: 100%;"></button>
                </div>
              </div>
            </div>
            <p-dataTable [value]="lstProdsPromo" [responsive]="true" [(selection)]="selectedPromos" [paginator]="true" [rows]="5">
              <p-column field="nombre" header="Nombre producto" [editable]="false" [sortable]="true" [filter]="true" [style]="{'width':'45%'}">
              </p-column>
              <p-column field="precio" header="Precio Normal" [editable]="false" [style]="{'width':'20%'}">
                <ng-template let-car="rowData" let-index="rowIndex" pTemplate>
                  {{car.precio_venta | number : '1.2-2'}}
                </ng-template>
              </p-column>
              <p-column field="precio" header="Precio/s promoción" [editable]="false" [style]="{'width':'35%'}">
                <ng-template let-car="rowData" pTemplate type="body">
                  <select [(ngModel)]="car.selected" [ngStyle]='{"width": "100%", "background": "rgba(255,255,255,0)"}'>
                    <option *ngFor="let row of car.promocion" [ngValue]="row">
                      {{row.nombre}} -- {{row.precio_venta | number : '1.2-2'}}
                    </option>
                  </select>
                </ng-template>
              </p-column>
              <ng-template pTemplate="emptymessage">
                No existen registros
              </ng-template>
            </p-dataTable>
          </p-panel>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>
      </tab>
      <tab heading="Tarjetas">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <h3 style="text-align: center">Gestión de Tarjetas</h3>
          <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ng2-smart-table id="dtT" [settings]="settingsT" [source]="sourceT" (edit)="showDialogTU = true;onUpdateT($event);">
          </ng2-smart-table>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>
      </tab>
      <tab heading="Corte de caja">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
          <h3 style="text-align: center">Corte de Caja</h3>
          <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3>Caja/s:</h3>
          <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
            <select [(ngModel)]="selected_caja" (ngModelChange)="onChangeCaja($event)" id="tipoCaja" name="tipoCaja" class="form-control"
              style="z-index: 1;" tabindex="1">
              <option value="Todas" selected="selected">Todas</option>
              <option *ngFor="let c of lstCajas" [ngValue]="c">{{c.nombres}}&nbsp;{{c.apellidos}}&nbsp;--&nbsp;{{c.cedula}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3>Período: </h3>
          <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
            <input [(ngModel)]="fechaApertura" type="text" class="form-control" [disabled]="true" style="z-index: 1;">
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 style="color: white">Período: </h3>
          <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="input-group-addon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
            <input [(ngModel)]="currentDateTime" type="text" class="form-control" [disabled]="true" style="z-index: 1;">
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><br><br>
          <ul class="list-group" id="limheight">
            <li class="list-group-item">
              <h3>Ventas Totales: </h3>
              <h3 style="padding-top: 20px" class="total">$&nbsp;{{ventasTotales}}</h3>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Efectivo: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{ventasEfectivo}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Tarjeta: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{ventasTarjeta}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Cheque: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{ventasCheque}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Crédito Directo: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{ventasCredito}}</h4>
            </li>
            <li class="list-group-item">
              <h4 style="color: white"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Crédito Directo: </h4>
              <h4 style="padding-top: 9px; color: white"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{ventasCredito}}</h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><br><br>
          <ul class="list-group" id="limheight">
            <li class="list-group-item">
              <h3>Dinero en Caja: </h3>
              <h3 style="padding-top: 20px" class="total">$&nbsp;{{dineroCaja}}</h3>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Fondo de caja: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{fondoCaja}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Ventas en efectivo: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{ventasEfectivo}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Abonos en efectivo: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{abonosEfectivo}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Entradas: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{entradas}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Salidas: </h4>
              <h4 style="padding-top: 9px" class="minus"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;{{salidas}}</h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><br><br>
          <ul class="list-group" id="limheight">
            <li class="list-group-item">
              <h3>Cantidad de Personas: </h3>
              <h3 style="padding-top: 20px" class="total">$&nbsp;{{cantPersonas}}</h3>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Ingreso Mujeres: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{inMujeres}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Ingreso Hombres: </h4>
              <h4 style="padding-top: 9px" class="plus"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{inHombres}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Egreso Mujeres: </h4>
              <h4 style="padding-top: 9px" class="minus"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;{{outMujeres}}</h4>
            </li>
            <li class="list-group-item">
              <h4><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Egreso Hombres: </h4>
              <h4 style="padding-top: 9px" class="minus"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;{{outHombres}}</h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><br><br>
          <ul class="list-group" id="limheight">
            <li class="list-group-item">
              <h3>Ganancias: </h3>
              <h3 style="padding-top: 20px" class="total">$&nbsp;{{ganancia}}</h3>
            </li>
          </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>
      </tab>
    </tabset>
  </div>
</div>


<!-- Add Cover -->
<p-dialog [(visible)]="showDialogCC" modal="modal" width={{widthCover}} [responsive]="true" positionTop="40">
  <p-header>
    Registrar Cover
  </p-header>
  <div class="ui-g ui-fluid">

    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Nombre*:</label>
      <input type="text" [(ngModel)]="objCover.nombre" (ngModelChange)="onChangeNombreCover($event)" id="nombre" placeholder="Nombre único de cover"
        class="form-control input-sm" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" " tabindex="1">
    </div>

    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6" style="padding-top: 37px">
      <p-checkbox name="group1" binary="true" label="¿Diferenciar entre Hombres y Mujeres?" [(ngModel)]="checked" inputId="ny"
        [style]="{'margin-bottom':'5px'}" (onChange)="onChangeCheckBox($event)"></p-checkbox>
    </div>

    <div class="panel panel-default" [ngStyle]="{'margin-bottom': '0px', 'width': widthPanel, 'margin-right': '1%', 'margin-left': '1%'}">
      <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;" *ngIf="checked">Nro. Mujeres</p>
          <p style="font-size: 12px;text-align: center;" *ngIf="!checked">Nro. Personas</p>
        </div>
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;" *ngIf="checked">Precio Mujeres</p>
          <p style="font-size: 12px;text-align: center;" *ngIf="!checked">Precio</p>
        </div>
        <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px">
          <input [(ngModel)]="objCover.numMujeres" type="text" class="form-control input-sm" name="numMujeres" id="numMujeres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            maxlength="2" min="0" style="z-index: 1" tabindex="6" (click)="$event.target.select()">
          <div class="input-group-btn-vertical">
            <button id="addM" (click)="plusWoman()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
            <button id="lessM" (click)="lessWoman()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
          </div>
        </div>
        <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6" style="margin-top: -10px">
          <input currencyMask type="text" [(ngModel)]="objCover.precioMujeres" class="form-control input-sm" placeholder="0.00" tooltip="Precio del cover"
            tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: '$ '}" tabindex="3" id="precio" name="precio"
            (click)="$event.target.select()">
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g-6 ui-md-6">
            <label>Producto Asociado*:</label>
          </div>
          <div class="ui-g-6 ui-md-6" style="padding-top: 10px; text-align: center">
            <md-slide-toggle [color]="color" [(ngModel)]="flagProdM" (ngModelChange)="changeProdM($event)">
            </md-slide-toggle>
          </div>
          <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdM">
            <input [(ngModel)]="cantProdMujeres" type="text" class="form-control input-sm" name="cantProdMujeres" id="cantProdMujeres"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" min="0" style="z-index: 1" tabindex="6"
              (click)="$event.target.select()">
            <div class="input-group-btn-vertical">
              <button id="addM" (click)="plusCantProdM()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
              <button id="lessM" (click)="lessCantProdM()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
            </div>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px; text-align: center" *ngIf="flagProdM">
            <i id="addIcon" class="fa fa-plus-square fa-2x" (click)="addItemM()" aria-hidden="true"></i>
            <i id="timesIcon" class="fa fa-minus-square fa-2x" (click)="deleteItemM()" aria-hidden="true"></i>
          </div>
        </div>
        <div class="ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdM">
          <p-dataTable [value]="lstProductos" selectionMode="single" [(selection)]="selected_productoM" (onRowSelect)="selecProdM($event)"
            [paginator]="true" rows="4" [responsive]="true" [style]="{'border-color': bcLstProdExisM }">
            <p-column field="nombre" header="Nombre" [sortable]="true" [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"
              [style]="{'width': '65%'}"></p-column>
            <p-column field="precio_venta" header="Precio" [sortable]="true" [style]="{'width': '35%'}">
              <ng-template let-car="rowData" let-index="rowIndex" pTemplate>
                <span class="badge">$ {{ car.precio_venta| number : '1.2-2'}}</span>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
        <div class="ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdM">
          <p-listbox [options]="lstSelectedProdM" [(ngModel)]="selected_selProductoM" [listStyle]="{'max-height':'140px'}" [style]="{'border-color': bcLstProdM }"
            #listBoxSelecM *ngIf="flagProdM">
            <p-header>
              <p style="font-size: 12px;text-align: center;">Productos Seleccionados</p>
            </p-header>
            <ng-template let-car pTemplate="item">
              <span class="badge" style="margin-top: -3px;">{{car.cantidad}}u</span>&nbsp;{{car.label}}
            </ng-template>
          </p-listbox>
        </div>
        <input type="text" class="form-control input-sm" placeholder="Sin producto asociado" *ngIf="!flagProdM" readonly>
      </div>
    </div>

    <div class="panel panel-default" *ngIf="checked" style="margin-bottom: 0px; width: 48%; margin-left: 1%; margin-right: 1%;">
      <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;">Nro. Hombres</p>
        </div>
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;">Precio Hombres</p>
        </div>
        <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px">
          <input [(ngModel)]="objCover.numHombres" type="text" class="form-control input-sm" name="numHombres" id="numHombres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            maxlength="2" min="0" style="z-index: 1" tabindex="6" (click)="$event.target.select()">
          <div class="input-group-btn-vertical">
            <button id="addM" (click)="plusMan()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
            <button id="lessM" (click)="lessMan()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
          </div>
        </div>
        <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6" style="margin-top: -10px">
          <input currencyMask type="text" [(ngModel)]="objCover.precioHombres" class="form-control input-sm" placeholder="0.00" tooltip="Precio del cover"
            tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: '$ '}" tabindex="3" id="precio" name="precio"
            (click)="$event.target.select()">
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g-6 ui-md-6">
            <label>Producto Asociado*:</label>
          </div>
          <div class="ui-g-6 ui-md-6" style="padding-top: 10px;text-align: center;">
            <md-slide-toggle [color]="color" [(ngModel)]="flagProdH" (ngModelChange)="changeProdH($event)">
            </md-slide-toggle>
          </div>
          <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdH">
            <input [(ngModel)]="cantProdHombres" type="text" class="form-control input-sm" name="cantMujeres" id="cantMujeres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              maxlength="2" min="0" style="z-index: 1" tabindex="6" (click)="$event.target.select()">
            <div class="input-group-btn-vertical">
              <button id="addM" (click)="plusCantProdH()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
              <button id="lessM" (click)="lessCantProdH()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
            </div>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px; text-align: center" *ngIf="flagProdH">
            <i id="addIcon" class="fa fa-plus-square fa-2x" (click)="addItemH()" aria-hidden="true"></i>
            <i id="timesIcon" class="fa fa-minus-square fa-2x" (click)="deleteItemH()" aria-hidden="true"></i>
          </div>
        </div>
        <div class="ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdH">
          <p-dataTable [value]="lstProductos" selectionMode="single" [(selection)]="selected_productoH" (onRowSelect)="selecProdH($event)"
            [paginator]="true" rows="4" [responsive]="true" [style]="{'color': 'red'}">
            <p-column field="nombre" header="Nombre" [sortable]="true" [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"
              [style]="{'width': '65%'}"></p-column>
            <p-column field="precio_venta" header="Precio" [sortable]="true" [style]="{'width': '35%'}">
              <ng-template let-car="rowData" let-index="rowIndex" pTemplate>
                <span class="badge">$ {{ car.precio_venta| number : '1.2-2'}}</span>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
        <div class="ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdH">
          <p-listbox [options]="lstSelectedProdH" [(ngModel)]="selected_selProductoH" [listStyle]="{'max-height':'140px'}" [style]="{'border-color': bcLstProdH }"
            #listBoxSelecH *ngIf="flagProdH">
            <p-header>
              <p style="font-size: 12px;text-align: center;">Productos Seleccionados</p>
            </p-header>
            <ng-template let-car pTemplate="item">
              <span class="badge" style="margin-top: -3px;">{{car.cantidad}}u</span>&nbsp;{{car.label}}
            </ng-template>
          </p-listbox>
        </div>
        <input type="text" class="form-control input-sm" placeholder="Sin producto asociado" *ngIf="!flagProdH" readonly>
      </div>

    </div>

  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="saveCover()" tabindex="4">Registrar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogCC = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Update Cover -->
<!--<p-dialog [(visible)]="showDialogCU" modal="modal" width="800" [responsive]="true" positionTop="40">
  <p-header>
    Actualizar Cover
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Nombre*:</label>
      <input type="text" [(ngModel)]="objCoverUpdate.nombre" (ngModelChange)="onChangeNombreCoverU($event)" id="nombreU" name="nombreU"
        placeholder="Nombre único de cover" class="form-control input-sm" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
          event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" ">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6" style="padding-top: 37px">
      <p-checkbox binary="true" label="¿Diferenciar entre Hombres y Mujeres?" [(ngModel)]="checked" inputId="ny" [style]="{'margin-bottom':'5px'}"
        (onChange)="onChangeCheckBox($event)"></p-checkbox>
    </div>

    <div class="panel panel-default" [ngStyle]="{'margin-bottom': '0px', 'width': widthPanel, 'margin-right': '1%', 'margin-left': '1%'}">
      <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;" *ngIf="checked">Nro. Mujeres</p>
          <p style="font-size: 12px;text-align: center;" *ngIf="!checked">Nro. Personas</p>
        </div>
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;" *ngIf="checked">Precio Mujeres</p>
          <p style="font-size: 12px;text-align: center;" *ngIf="!checked">Precio</p>
        </div>
        <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px">
          <input [(ngModel)]="objCover.numMujeres" type="text" class="form-control input-sm" name="numMujeres" id="numMujeres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            maxlength="2" min="0" style="z-index: 1" tabindex="6" (click)="$event.target.select()">
          <div class="input-group-btn-vertical">
            <button id="addM" (click)="plusWoman()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
            <button id="lessM" (click)="lessWoman()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
          </div>
        </div>
        <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6" style="margin-top: -10px">
          <input currencyMask type="text" [(ngModel)]="objCover.precioMujeres" class="form-control input-sm" placeholder="0.00" tooltip="Precio del cover"
            tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: '$ '}" tabindex="3" id="precio" name="precio"
            (click)="$event.target.select()">
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g-6 ui-md-6">
            <label>Producto Asociado*:</label>
          </div>
          <div class="ui-g-6 ui-md-6" style="padding-top: 10px; text-align: center">
            <md-slide-toggle [color]="color" [(ngModel)]="flagProdM" (ngModelChange)="changeProdM($event)">
            </md-slide-toggle>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px;" *ngIf="flagProdM">
            <p style="font-size: 12px;text-align: center;">Cantidad</p>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px;" *ngIf="flagProdM">
            <p style="font-size: 12px;text-align: center;">Nombre</p>
          </div>
          <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdM">
            <input [(ngModel)]="objCover.cantProdMujeres" type="text" class="form-control input-sm" name="cantProdMujeres" id="cantProdMujeres"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" min="0" style="z-index: 1" tabindex="6"
              (click)="$event.target.select()">
            <div class="input-group-btn-vertical">
              <button id="addM" (click)="plusCantProdM()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
              <button id="lessM" (click)="lessCantProdM()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
            </div>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdM">
            <input type="text" [(ngModel)]="objCover.productoMujeres.nombre" id="prodInputM" name="prodInputM" placeholder="Producto"
              class="form-control input-sm" readonly>
          </div>
          <p-listbox [options]="lstProductos" [(ngModel)]="objCover.productoMujeres" filter="filter" [style]="{'text-align':'left','max-height':'210px','height':'210px','width':'100%','border-color':borderStyleProdExistente}"
            #listBoxMU *ngIf="flagProdM">
            <ng-template let-car pTemplate="item">
              {{car.value.nombre}}
              <span class="badge">$ {{ car.value.precio_costo | number : '1.2-2'}}</span>
              <span class="badge">$ {{ car.value.precio_venta| number : '1.2-2'}}</span>
              <span class="badge">{{car.value.contenido}} ml</span>
            </ng-template>
          </p-listbox>
          <input type="text" class="form-control input-sm" placeholder="Sin producto asociado" *ngIf="!flagProdM" readonly>
        </div>
      </div>
    </div>

    <div class="panel panel-default" *ngIf="checked" style="margin-bottom: 0px; width: 48%; margin-left: 1%; margin-right: 1%;">
      <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;">Nro. Hombres</p>
        </div>
        <div class="ui-g-6 ui-md-6">
          <p style="font-size: 12px;text-align: center;">Precio Hombres</p>
        </div>
        <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px">
          <input [(ngModel)]="objCover.numHombres" type="text" class="form-control input-sm" name="cantHombres" id="cantHombres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            maxlength="2" min="0" style="z-index: 1" tabindex="6" (click)="$event.target.select()">
          <div class="input-group-btn-vertical">
            <button id="addM" (click)="plusMan()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
            <button id="lessM" (click)="lessMan()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
          </div>
        </div>
        <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6" style="margin-top: -10px">
          <input currencyMask type="text" [(ngModel)]="objCover.precioHombres" class="form-control input-sm" placeholder="0.00" tooltip="Precio del cover"
            tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: '$ '}" tabindex="3" id="precio" name="precio"
            (click)="$event.target.select()">
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g-6 ui-md-6">
            <label>Producto Asociado*:</label>
          </div>
          <div class="ui-g-6 ui-md-6" style="padding-top: 10px;text-align: center;">
            <md-slide-toggle [color]="color" [(ngModel)]="flagProdH" (ngModelChange)="changeProdH($event)">
            </md-slide-toggle>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px;" *ngIf="flagProdH">
            <p style="font-size: 12px;text-align: center;">Cantidad</p>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px;" *ngIf="flagProdH">
            <p style="font-size: 12px;text-align: center;">Nombre</p>
          </div>
          <div class="input-group ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdH">
            <input [(ngModel)]="objCover.cantProdHombres" type="text" class="form-control input-sm" name="cantMujeres" id="cantMujeres"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" min="0" style="z-index: 1" tabindex="6"
              (click)="$event.target.select()">
            <div class="input-group-btn-vertical">
              <button id="addM" (click)="plusCantProdH()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
              <button id="lessM" (click)="lessCantProdH()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
            </div>
          </div>
          <div class="ui-g-6 ui-md-6" style="margin-top: -10px" *ngIf="flagProdH">
            <input type="text" id="prodInputM" [(ngModel)]="objCover.productoHombres.nombre" name="prodInputM" placeholder="Producto"
              class="form-control input-sm" readonly>
          </div>
          <p-listbox [options]="lstProductos" [(ngModel)]="objCover.productoHombres" filter="filter" [style]="{'text-align':'left','max-height':'210px','height':'210px','width':'100%','border-color':borderStyleProdExistente}"
            #listBoxHU *ngIf="flagProdH">
            <ng-template let-car pTemplate="item">
              {{car.value.nombre}}
              <span class="badge">$ {{ car.value.precio_costo | number : '1.2-2'}}</span>
              <span class="badge">$ {{ car.value.precio_venta| number : '1.2-2'}}</span>
              <span class="badge">{{car.value.contenido}} ml</span>
            </ng-template>
          </p-listbox>
          <input type="text" class="form-control input-sm" placeholder="Sin producto asociado" *ngIf="!flagProdH" readonly>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="updateCover()">Actualizar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogCU = false">Cancelar</button>
  </div>
</p-dialog>-->

<!-- Update Tarjeta -->
<p-dialog [(visible)]="showDialogTU" modal="modal" width="500" [responsive]="true">
  <p-header>
    Actualizar Tarjeta
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Numero de tarjeta:</label>
      <input [(ngModel)]="objTarjeta.cardNumber" type="text" class="form-control input-sm" [disabled]="true">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Nombre Cliente:</label>
      <input [(ngModel)]="objTarjeta.nombre" type="text" class="form-control input-sm" [disabled]="true">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Cédula Cliente:</label>
      <input [(ngModel)]="objTarjeta.ci" type="text" class="form-control input-sm" [disabled]="true">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Consumo Actual:</label>
      <input currencyMask type="text" [(ngModel)]="consumoActual" [options]="{ align : 'left' }" class="form-control input-sm"
        placeholder="0.00" [disabled]="true">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Limite Consumo Actual*:</label>
      <input currencyMask type="text" [(ngModel)]="objTarjeta.limite" [options]="{ align : 'left' }" id="limite" name="limite"
        class="form-control input-sm" placeholder="0.00" [disabled]="true">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Nuevo Limite Consumo*:</label>
      <div class="input-group">
        <input [(ngModel)]="nuevoConsumo" type="text" class="form-control input-sm" id="limiteNuevo" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
          maxlength="2" min="0" style="z-index: 1" tabindex="6" (click)="$event.target.select()" [disabled]="true">
        <div class="input-group-btn-vertical">
          <button (click)="plusLimite()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-up"></i></button>
          <button (click)="lessLimite()" class="btn btn-default" type="button" style="outline: 0"><i class="fa fa-caret-down"></i></button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onAddTSubmit()">Actualizar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogTU = false">Cancelar</button>
  </div>
</p-dialog>